.blog-picture {
    width: 33.333%;
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 30px 0;

    @media (max-width: 991px) {
        width: 50%;
        height: 250px;
    }

    @media (max-width: 767px) {
        width: 100%;
        height: clamp(240px, 47.588vw, 365px);
    }
}

.post-date {
    margin-bottom: 10px;

    p {
        font-style: italic;
    }
}

.post-author {
    text-align: right;
    margin-top: 10px;

    p {
        font-weight: 700;
    }
}