.footer {
    background: radial-gradient(45% 104.25% at 85.62% 105.07%, $color02 0%, $color04 100%), $color05;
    padding: 70px 0 65px 0;

    .footer__top {
        border-bottom: 1px solid rgba($white, .4);
        padding-bottom: 64px;

        .logo {

            .logo--main-logo {
                .custom-logo-link {
                    .custom-logo {
                        width: auto;
                        height: 40px;
                    }
                }

                @media (max-width: 991px) and (min-width: 576px) {
                    display: none;
                }
            }

            .logo--second-logo {
                display: none;

                .second-logo-link {
                    .second-logo {
                        width: auto;
                        height: 40px;
                    }
                }

                @media (max-width: 991px) and (min-width: 576px) {
                    display: block;
                }
            }

            .footer-text {
                width: 75%;
                color: rgba($white, .72);
                line-height: 1.429;
                letter-spacing: 0.2px;
                margin-top: 20px;
            }
        }

        .footer-nav {
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;

            .nav {
                .menu-item {
                    margin-right: 24px;

                    a {
                        font-size: 1.143rem;
                        color: $white;
                        letter-spacing: 0.2px;

                        &:hover {
                            color: $color06;
                        }
                    }

                    &:last-child {
                        margin-right: 0;
                    }
                }

                .current-menu-item {
                    a {
                        color: rgba($color06, .75);
                        pointer-events: none;
                    }
                }
            }

            @media (max-width: 767px) {
                justify-content: flex-start;
                align-items: center;
                margin-top: 48px;
            }
        }

        @media (max-width: 767px) {
            padding-bottom: 47px;
        }
    }

    .footer__bottom {
        margin-top: 64px;

        .copyright {
            span {
                display: inline-block;
                color: rgba($white, .72);
                line-height: 1.429;
                letter-spacing: 0.2px;
                margin-right: 24px;

                @media (max-width: 991px) {
                    margin: 0 0 8px 0;
                }

                @media (max-width: 767px) {
                    display: block;
                }
            }

            a {
                color: rgba($white, .72);
                line-height: 1.429;
                letter-spacing: 0.2px;

                &:hover {
                    color: $color06;
                }
            }
        }

        .site-author {
            display: flex;
            justify-content: flex-end;

            p {
                color: rgba($white, .72);
                line-height: 1.429;
                letter-spacing: 0.2px;

                @media (max-width: 1199px) {
                    font-size: 0.929rem;
                }

                @media (max-width: 767px) {
                    font-size: 1rem;
                }
            }

            @media (max-width: 767px) {
                justify-content: flex-start;
                margin-top: 32px;
            }
        }

        @media (max-width: 767px) {
            margin-top: 47px;
        }
    }
}