.header {
    background: radial-gradient(35.21% 43.76% at 5.1% 7.01%, $color01 0%, $color02 0%, $color03 100%), radial-gradient(27.36% 45.53% at 90.42% 60.07%, $color02 0%, $color04 100%), $color05;
    padding-top: 28px;

    .navbar {
        padding: 0;
        margin-bottom: 22px;

        .custom-logo-link {
            .custom-logo {
                width: auto;
                height: 40px;
            }
        }

        .navbar-toggler {
            padding: 0;
            border: none;
            outline: none;
            border-radius: unset;

            .navbar-toggler-icon {
                display: inline-block;
                width: auto;
                height: auto;
                vertical-align: middle;
                background-image: unset;
                background-repeat: unset;
                background-position: unset;
                background-size: unset;

                &::after {
                    font-family: 'mobbiz-font-icon';
                    content: $iconMenu;
                    font-size: 30px;
                    color: $white;
                    transition: color 0.33s;
                }
            }

            &:hover {
                .navbar-toggler-icon {
                    &::after {
                        color: $color06;
                    }
                }
            }

            &:focus {
                box-shadow: none;
            }
        }

        .navbar-toggler[aria-expanded="true"] {
            .navbar-toggler-icon {
                &::after {
                    font-family: 'mobbiz-font-icon';
                    content: $iconClose;
                }
            }
        }

        .navbar-collapse {
            .navbar-nav {
                .menu-item {
                    align-self: center;
                    margin-right: 25px;

                    a {
                        font-weight: 700;
                        color: $white;

                        &:hover {
                            color: $color06;
                        }
                    }

                    &:last-child {
                        margin-right: 0;
                    }

                    @media (max-width: 767px) {
                        margin-right: 0;
                    }

                    @media (max-width: 767px) {
                        line-height: 2.5;
                        align-self: flex-start;
                    }
                }

                .current-menu-item {
                    a {
                        color: rgba($color06, .75);
                        pointer-events: none;
                    }
                }

                .link {
                    border: 1px solid $white;
                    padding: 10px 20px;
                    margin-left: clamp(30px, 2.604vw, 50px);
                    transition: background-color 0.33s;

                    a {
                        font-size: 1.143rem;
                        line-height: 1.5;

                        &:hover {
                            color: $white;
                        }
                    }

                    &:hover {
                        background-color: rgba($color06, .25);
                    }

                    @media (max-width: 767px) {
                        line-height: 1;
                        border: 1px solid rgba($white, .5);
                        padding: 0 5px;
                        margin-left: 0;
                    }
                }
            }

            @media (max-width: 767px) {
                position: absolute;
                top: 40px;
                right: 0;
                z-index: 1;
                background-color: $color05;
                padding: 0 calc(var(--bs-gutter-x)*.5) 10px 10px;
                box-shadow: inset 5px -5px 10px -5px rgba($color06, .25);
            }
        }
    }

    .header__content {
        .content__text {
            position: relative;

            .text__box {
                position: absolute;
                bottom: 8.438vw;

                h1 {
                    color: $white;
                    margin-bottom: 16px;

                    @media (max-width: 991px) {
                        font-size: 2.071rem;
                    }
                }

                p {
                    width: 80%;
                    font-size: 1.143rem;
                    line-height: 1.5;
                    color: rgba($white, .72);
                    letter-spacing: 0.2px;
                    margin-bottom: 48px;

                    @media (max-width: 991px) {
                        width: 95%;
                    }

                    @media (max-width: 767px) {
                        width: 100%;
                    }
                }

                .content__bar {
                    display: flex;
                    align-items: center;

                    .button--bar {
                        width: 138px;
                        margin-right: 32px;

                        &:hover {
                            animation: heartbeat 1.5s ease-in-out both;
                        }
                    }

                    .bar__phone {
                        font-size: 1.143rem;
                        font-weight: 700;
                        line-height: 1.2;
                        color: $white;
                        letter-spacing: 0.2px;
                        text-decoration: underline;

                        &:hover {
                            color: $color06;
                        }
                    }
                }

                @media (max-width: 991px) {
                    bottom: 20px;
                }

                @media (max-width: 767px) {
                    position: relative;
                    bottom: unset;
                }
            }
        }

        .content__image {
            display: flex;
            justify-content: flex-end;

            @media (max-width: 767px) {
                margin-top: 32px;
            }
        }

        @media (max-width: 767px) {
            padding-top: 67px;
            padding-bottom: 96px;
        }
    }
}

//animations
@keyframes heartbeat {
    from {
        transform: scale(1);
        transform-origin: center center;
        animation-timing-function: ease-out;
    }

    10% {
        transform: scale(0.91);
        animation-timing-function: ease-in;
    }

    17% {
        transform: scale(0.98);
        animation-timing-function: ease-out;
    }

    33% {
        transform: scale(0.87);
        animation-timing-function: ease-in;
    }

    45% {
        transform: scale(1);
        animation-timing-function: ease-out;
    }
}