//load fonts
/* mulish-400 */
@font-face {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/mulish-v12-latin-regular.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/mulish-v12-latin-regular.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/mulish-v12-latin-regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/mulish-v12-latin-regular.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/mulish-v12-latin-regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/mulish-v12-latin-regular.svg#Mulish') format('svg');
    /* Legacy iOS */
}

/* mulish-700 */
@font-face {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/mulish-v12-latin-700.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/mulish-v12-latin-700.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/mulish-v12-latin-700.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/mulish-v12-latin-700.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/mulish-v12-latin-700.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/mulish-v12-latin-700.svg#Mulish') format('svg');
    /* Legacy iOS */
}

//fonts
$Mulish: 'Mulish',
sans-serif;

//colors
$white: #ffffff;
$black: #000000;
$color01: #0087fe26;
$color02: #0087fe33;
$color03: #0088ff00;
$color04: #0087fe00;
$color05: #1f1f1d;
$color06: #0087fe;
$color07: #5f5f5c;

html {
    font-size: 14px;
}

body {
    min-width: 320px;
}

h1 {
    font-family: $Mulish;
    font-size: 2.857rem;
    font-weight: 700;
    line-height: 1.5;
    color: $color05;
    margin-bottom: 0;
}

h2 {
    font-family: $Mulish;
    font-size: 2.286rem;
    font-weight: 700;
    line-height: 1.5;
    color: $color05;
    margin-bottom: 0;
}

p {
    font-family: $Mulish;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.429;
    color: $color07;
    margin-bottom: 0;
}

a {
    font-family: $Mulish;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.429;
    color: $color07;
    word-wrap: break-word;
    text-decoration: none;
    margin-bottom: 0;

    &:hover {
        color: $color06;
    }

    transition: color 0.33s;
}

span {
    font-family: $Mulish;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.429;
    color: $color07;
    margin-bottom: 0;
}

img {
    max-width: 100%;
    height: auto;
}